body {
  background: url("../images/ceu-estrelado.jpg") no-repeat center center fixed;
  background-size: cover;
}

.header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.titulos {
  color: #fff;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

.add-button {
  color: #fff;
  font-size: 2.5rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  margin: auto 0.75rem;
}

.status-tarefa {
  display: flex;
  align-items: center;
}

.tarefa-titulo {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.tarefa-detalhe {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin: 0;
}

.separador {
  font-size: 0.5rem;
  margin: auto 0.5rem;
}

.clock {
  font-size: 1rem;
  margin-right: 0.15rem;
}

.btn-dark,
.btn-outlined-dark {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0rem;
  margin: auto 0.15rem;
}

.btn-dark .material-icons,
.btn-outlined-dark .material-icons {
  font-size: 1rem;
}

.btn-dark {
  color: #fff;
}

.btn-outlined-dark {
  border: 1px solid #303030;
}
